<!-- wp:template-part {"slug":"usa-banner","tagName":"div","className":"ccg-usa-banner-part"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header","className":"ccg-site-header-part"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","className":"ccg-main ccg-main--home","layout":{"type":"default"}} -->
<main id="main-content" class="wp-block-group ccg-main ccg-main--home">
	<!-- wp:pattern {"slug":"ccg-wp-theme/home-page"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->

