<!-- wp:template-part {"slug":"usa-banner","tagName":"div","className":"ccg-usa-banner-part"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header","className":"ccg-site-header-part"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","className":"ccg-main ccg-program-overview-page program-overview","layout":{"type":"default"}} -->
<main id="main-content" class="wp-block-group ccg-main ccg-program-overview-page program-overview">
	<!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
